<div class="limiter">
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table100">
                    <table>
                        <thead>
                            <tr class="table100-head">
								<th class="column1">Name</th>
								<th class="column2">Message</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(let i=0 ; i<items.length ; i++) { %>
                                <tr>
									<td class="column1"> <%= items[i].name %> </td>
                                    <td class="column2"> <%= items[i].message %> </td>
                                </tr>
                            <% } %>
                                
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>